@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: hsl(211, 42%, 84%);
}

main {
  flex: 1 0 auto; /*shorthand for three properties: flex-grow, flex-shrink, and flex-basis. This especially usefull to keep the footer always bellow the content but read the NOTE bellow to prevent issues */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; /* This was the solution to the BIG 🐞, it centers the container horizontally by adding equal margins to the left and right. */
  margin-bottom: 2rem;
  padding-top: 1rem;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  z-index: 0;
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.card:hover {
  transform: scale(1.05);
}
.card .author .photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.card.quoteSymbol {
  position: absolute;
  width: 200px;
  margin-top: 0px;
  margin-left: 205px;
  transform: scaleY(1rem), scaleX(0.2);
  z-index: 1;
}
.card.quote {
  margin-top: 10px;
  z-index: 3;
  margin-bottom: 1rem;
}
.card.paragraph {
  margin-bottom: 1rem;
  z-index: 3;
}
.card.bgDaniel {
  background-image: url("../assets/images/bg-pattern-quotation+dark_purple.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0%;
  background-size: 50%;
  background-color: hsl(263, 76%, 64%);
}
.card.bgDaniel .name,
.card.bgDaniel .quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: "1.2rem";
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}
.card.bgDaniel .profession,
.card.bgDaniel .paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: "1rem";
  line-height: 1.5;
  color: hsl(263, 71%, 79%);
}
.card.bgDaniel .photo {
  border: 4px solid hsl(263, 71%, 79%);
}
.card.bgJonathan {
  background-color: hsl(217, 42%, 45%);
  background-image: url("../assets/images/bg-pattern-quotation+dark_gray.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0%;
  background-size: 50%;
}
.card.bgJonathan .name,
.card.bgJonathan .quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: "1.2rem";
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}
.card.bgJonathan .profession,
.card.bgJonathan .paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: "1rem";
  line-height: 1.5;
  color: hsl(211, 42%, 84%);
}
.card.bgJonathan .photo {
  border: 4px solid hsl(211, 42%, 84%);
}
.card.bgJeanette {
  background-color: hsl(0, 0%, 100%);
  background-image: url("../assets/images/bg-pattern-quotation+lighter_gray.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0%;
  background-size: 50%;
}
.card.bgJeanette .name,
.card.bgJeanette .quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: "1.2rem";
  line-height: 1.5;
  color: hsl(217, 42%, 45%);
}
.card.bgJeanette .profession,
.card.bgJeanette .paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: "1rem";
  line-height: 1.5;
  color: hsl(211, 42%, 84%);
}
.card.bgJeanette .photo {
  border: 4px solid hsl(211, 42%, 84%);
}
.card.bgPatrick {
  background-color: hsl(219, 29%, 14%);
  background-image: url("../assets/images/bg-pattern-quotation+blue_purple.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0%;
  background-size: 50%;
}
.card.bgPatrick .name,
.card.bgPatrick .quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: "1.2rem";
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}
.card.bgPatrick .profession,
.card.bgPatrick .paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: "1rem";
  line-height: 1.5;
  color: hsl(211, 42%, 84%);
}
.card.bgPatrick .photo {
  border: 4px solid hsl(263, 71%, 79%);
}
.card.bgKira {
  background-color: hsl(0, 0%, 100%);
  background-image: url("../assets/images/bg-pattern-quotation+lighter_gray.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0%;
  background-size: 50%;
}
.card.bgKira .name,
.card.bgKira .quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: "1.2rem";
  line-height: 1.5;
  color: hsl(217, 42%, 45%);
}
.card.bgKira .profession,
.card.bgKira .paragraph {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: "1rem";
  line-height: 1.5;
  color: hsl(211, 42%, 84%);
}
.card.bgKira .photo {
  border: 4px solid hsl(211, 42%, 84%);
}

.attribution {
  text-align: center;
  margin-bottom: 3rem; /* Keeps the footer at the bottom but only after all other content */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 20px;
    width: 80%;
    padding: 20px;
    margin-top: 100px;
    align-items: stretch;
  }
  .card {
    min-height: 300px;
    margin: 0rem;
  }
  .card:nth-child(1) {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  .card:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
  .card:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .card:nth-child(4) {
    grid-column: 2/span 2;
    grid-row: 2;
  }
  .card:nth-child(5) {
    grid-column: 4;
    grid-row: 1/span 2;
  }
}
/* ============= NOTES  ============== */
/* The flex: 1 0 auto; declaration is not a one-size-fits-all solution and should not be applied universally to the <main> element as a best practice. It's a tool that should be used to achieve specific layout goals depending on the design requirements.

✅ Here are some considerations for when to use flex: 1 0 auto; on the <main> element:

Sticky Footer: If your design requires that the footer stays at the bottom of the viewport even when the content is short, then using flex: 1 0 auto; on <main> is a common solution. It allows <main> to expand and fill the available space, pushing the footer to the bottom.
Full-Height Sections: In single-page applications or designs where sections of the page should fill the viewport height, flex: 1 0 auto; helps to ensure that <main> covers the full height of the viewport if the content is not enough.
Dynamic Content: When the amount of content is dynamic and can vary greatly, flex: 1 0 auto; can help maintain a consistent layout across different states.

However, 🚩there are scenarios where you might not want to use flex: 1 0 auto;:

Content-Driven Layout: If the height of the <main> content should naturally dictate the layout without stretching, you should not force it to expand with flex-grow.
Scrolling Content: If the <main> content is expected to scroll internally while keeping the header and footer fixed, a flex-grow of 1 could be undesirable.
Nested Flex Containers: If <main> is a flex container with its own flex items and a specific design, the flex-grow property might interfere with the intended layout. */

/*# sourceMappingURL=styles.css.map */
