// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//-----COLOR SETTINGS ---------------------------------

// Defining color variables
$colors: (
  //------Primary:
  'moderate-violet': hsl(263, 76%, 64%),
  'light-violet': hsl(263, 71%, 79%),
  'dark-grayish-blue': hsl(217, 19%, 35%),
  'dark-blackish-blue': hsl(212, 86%, 64%),
  'dark-blue-gray': hsl(219, 29%, 14%),
  'white': hsl(0, 0%, 100%),
  'black': hsl(0, 0%, 0%),
  //-------Secondary:
  //----Neutral:color(
  'light-gray': hsl(0, 0%, 81%),
  'light-grayish-blue': hsl(210, 46%, 95%)
);
// Adding a function to get color from the map
@function color($color-name) {
  @return map-get($colors, $color-name);
}

//------TYPOGRAPHY SETTINGS ----------------------------

//Mixing for Typography
// Typography Mixin
@mixin typography() {
  // h1 {
  //   font-family: 'Barlow Semi Condensed', sans-serif;
  //   font-weight: 600;
  //   font-size: 0.2rem;
  //   margin-top: 0px; //
  //   margin-bottom: 1rem;
  //   color: color('white');
  //   color: color('white'); // Apply the primary text color for headers
  // }

  // h3 {
  //   font-family: 'Barlow Semi Condensed', sans-serif;
  //   font-weight: 500;
  //   font-size: 0.2rem;
  //   margin-bottom: 2rem; // No bottom margin to touch h1
  //   letter-spacing: 0em; // Unified letter spacing
  //   color: color('white'); // Specific color for h2
  //   // background-color: aqua;
  // }

  // p {
  //   font-family: 'Barlow Semi Condensed', sans-serif;
  //   font-size: 2rem;
  //   color: color('light-violet');
  //   font-weight: 500;
  //   color: color('light-blue-gray'); // Lighter text color for paragraphs
  // }
}

// Typography and detailed styling for text elements
@include typography();

// Universal reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//------GENERAL SETTINGS -------------------------------

// Base styles
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: color('white');
  font-family: 'Barlow Semi Condensed', sans-serif;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1000px;
  align-items: center;
  margin-bottom: 2rem;
  background-color: color('white');
  // background-color: chartreuse;
}

// gridContainer for cards
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

// Card design with nested modifier classes
.card {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: color('moderate-violet');
  margin-bottom: 2rem;
  // z-index: 1;
  // box-shadow: 0 0 10px color('light-blue-gray');

  .author {
    height: 4rem;
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    // background-color: aqua;
  }

  .name {
    font-size: 0.8rem;
    font-weight: 600;
    color: color('white');
  }

  .profession {
    font-size: 0.7rem;
    font-weight: 500;
    color: color('light-violet');
  }

  .quote {
    font-size: 1.7rem;
    font-weight: 600;
    color: color('white');
    padding: 2rem 0rem 0rem 2rem;
    z-index: 3;
    // background-color: coral;
  }

  .paragraph {
    ffont-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
    color: color('light-violet');
    font-weight: 500;
    padding: 2rem;
    line-height: 1.7rem;
    color: color('light-blue-gray');
  }

  .photo {
    border-radius: 50%;
    width: 3.5rem;
    border: 4px solid color('light-violet');
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: brown;
  }

  .quoteSymbol {
    display: flex;
    position: absolute;
    margin-left: 13rem;
    width: 1rem;
    height: 10rem;
    transform: scaleX(0.8); /* Stretching horizontally */
    z-index: 2;
  }
}

//------------ Media Queries for Desktop-----------------------
//-------
// Media Queries for Desktop
@media (min-width: 375px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr; // Define three columns
    grid-template-rows: auto auto; // Define two rows
    align-items: start; // Align items to the start of their grid area
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.7em;
  }
  .card {
    // Supervisor card takes the first column and spans two rows
    &:nth-child(1) {
      grid-column: 1;
      align-self: center;
      grid-row: span 2; // Spans two rows
    }

    // Team Builder card takes the second column, first row
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1; // First row of the second column
    }

    // Karma card takes the second column, second row
    &:nth-child(3) {
      grid-column: 2;
      grid-row: 2; // Second row of the second column
    }

    // Calculator card takes the third column and spans two rows
    &:nth-child(4) {
      grid-column: 3;
      align-self: center;
      grid-row: span 2; // Spans two rows
    }
  }
}
